.dark {
  background-color:#003669;
  color: rgb(255, 255, 255)
}
.light {
  background-color:#00539C;
  color: rgb(255, 255, 255);
}

p {
  size: 40px;
  font-family: 'Marhey', cursive;
  text-align: center;
}

h1 {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  font-size: 40px;
  /* padding: 20px; */
  text-align: center;
}

.App-header {
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: center;
  padding: 8px;
}

#App img{
  overflow: visible;
  position: fixed; right: 2px;
}