#Buttons {
    text-align: center;transition: all 0.3s ease-out 0s;
}

#button {
    text-align: center;
    text-decoration: none;
    font-size: 45px;
    width: 380px;
    border-radius: 12px;
    display: inline;
    margin: 50px 30px;
}
#button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgba(230,230,230);
}

#Dog_Button button{
    background: none;
    border: none;
}

#Dog_Button img {
    position: fixed; bottom: 0px;
    height: 60%;
    width: 480px;
    background: none;
}

#doomed_dog {
    transition: all 0.3s ease-out 0s;
}